/*
!.gitignore
!.gitattributes
!TargetNameplateIndicator.toc
!core.lua
!options.lua
!config.target.lua    
!config.mouseover.lua
!config.focus.lua
!Screenshots/
!Textures/
!README.md
!CHANGELOG.md
!LICENSE.txt
